.search {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: space-around;
  padding: 8px;
  background-color: azure;
}

.btn {
  border: 2px solid teal;
  background-color: teal;
  color: azure;
  border-radius: 4px;
  padding: 4px 16px;
}

.btn:active {
  border: 2px solid #056767;
}
