.item {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 16px 0;
  border: 1px solid teal;
}

.poster {
  width: 15%;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
